<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="search-panel">
        <form action="search.html" th:attr="action=@{/search}">
            <div class="input-group mb-3">
                <input type="text" name="query" class="form-control" placeholder="Search for a title" aria-label="Search query" aria-describedby="button-addon2">
                <button type="submit" class="btn btn-outline-secondary" id="button-addon2">Search</button>
            </div>
        </form>
    </div>
    
</body>
</html>