<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Book Not Found</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light"  style="padding-bottom: 20px">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Better Reads</a>
        
        </div>
      </nav>
      <div class="container">
    <div th:insert="components/book-search :: search-panel"></div>
    <h1 class="text-center">Book not found</h1>
</div>
</body>
</html>